html, body {
    margin: 0;
    padding: 0;
    background-color: #f7fff6;
}

.navbar {
    background-color: #bcebcb;
    border-radius: 20px;
    margin: 10px 60px;
    padding: 10px 0px;
    width: auto;
}

.navbar li {
    list-style: none;
    display: inline;
    text-align: center;
}
.navbar img {
    margin: 5px;
}
.navbar a {
    padding: 10px 50px;
    font-size: 20px;
    background: #1e91d6;
    border-radius: 10px;
    text-decoration: none;
    color: #f7fff6;
    margin: 5px;
}

.navbar a:hover {
    background-color: #2061d3;
    cursor: pointer;
}



/* DEFAULT STYLIZING */


.defaultContainer {
    background-color: #bcebcb;
    border-style: solid;
    border-color: #a1d388;
    border-radius: 10px;
    padding: 10px;
}

.defaultControls a {
	text-align: center;
    display: block;
    font-size: 18px;
    background: #1e91d6;
    text-decoration: none;
    color: #f7fff6;			
    margin: 10px auto;
    border-radius: 10px;
}

.defaultControls a:hover {
    background-color: #2061d3;
    cursor: pointer;
}

.defaultTable table {
    width: 95%;
    margin: 0 auto;
    background-color: #f7fff6;
    border-radius: 10px;
    border-collapse: collapse;
    text-align: left;
    table-layout: fixed;
    max-height: 650px;
}

.defaultTable th {
    padding: 14px;
    font-size: 20px;
}

.defaultTable td {
    padding: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
    font-size: 16px;
}

.defaultTable tr:hover td {
    background-color: #87d68d;
    cursor: pointer;
}

.defaultTable tr.selected td {
    background-color: #87d68d;
    cursor: pointer;
}

/* DEFAULT FORM STYLIZING */

.formContainer {
    margin: 3% auto 0 auto;
    width: 50%;
}

.formContainer label, .formContainer h1 {
    color: #2061d3;
    text-align: center;
}


.formContainer h1 {
    display: block;
    margin: 3px auto 20px auto;
    border-bottom: 3px solid #2061d3;
}

.formContainer label {
    margin: 0 auto;
    display: inline-block;
    padding: 8px;
    font-size: 18px;
    width: 150px;
    text-align: left;
}

.formContainer input, .formContainer select {
    display: inline;
    border-style: none;
    border-bottom: 1px solid #2061d3;
    margin: 0 auto;
    padding: 8px;
    background-color: #f7fff6;
    border-radius: 5px;
    width: calc(100% - 200px);
}

.formContainerControls {
    display: grid;
    margin: 0px;
    padding: 0px;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "formContainerSubmit formContainerClear";
}

.formContainerControls input{
    border-style: none;
    text-align: center;
    display: block;
    font-size: 18px;
    background: #1e91d6;
    color: #f7fff6;			
    margin: 10px auto;
    width: 90%;
    border-radius: 10px;
    padding: 15px;
}


.formContainerControls input:hover {
    background-color: #2061d3;
    cursor: pointer;
}

#formClear {
    background-color: #e13f29;
    color: #f7fff6;
}

#formClear:hover {
    background-color: #fa270b;
    cursor: pointer;
}

/* City Page */

.cityContainerControls {
    display: grid;
    margin: 0px;
    padding: 0px;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "cityContainerCreate cityContrainerEdit";
}

.cityContainerControls a {
    padding: 10px 50px;
    border-radius: 10px;
    width: 60%;
}


/* Customer - Invetory Page */

.customerInventoryTableSplit table {
    text-align: center;
}

.NewOrderOptions {
    margin: 40px auto;
    width: 75%;
}

.NewOrderOptions ul, .customerInventoryTableSplit {
    display: grid;
    border-radius: 20px;
    padding: 15px;
    grid-template-columns: repeat(2, 1fr);
}

.NewOrderOptions ul {
    grid-template-areas: 
    "NewOrderOptions-Item-1 NewOrderOptions-Item-2";
    background-color: #bcebcb;
    list-style: none;
}

.NewOrderOptions a {
    padding: 10px; 
    width: 90%;
    border-radius: 20px;
}

.customerInventoryTableSplit {
    grid-template-areas: 
    "customerInvetoryTableSplit-Cust customerEquipmentTableSplit-Inv";
    width: 75%;
    margin: 50px auto;
}

.customerInventoryTableSplit h2 {
    text-align: center;
    color: #2061d3;
}

.customerInvetoryTableSplit-Cust, .customerEquipmentTableSplit-Inv {
    display: block;
    background-color: #bcebcb;
    border-style: solid;
    border-color: #a1d388;
    border-radius: 10px;
    padding: 10px;
    margin: 0 10px;
}

.customerInvetoryTableSplit-Cust #edit-button {
    display: none;
    padding: 10px;
    width: 95%; 
    border-radius: 20px;
}

.customerInventoryContainerControls {
    display: grid;
    margin: 0px;
    padding: 0px;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "customerInventoryContainerEdit customerInventoryContainerCreate";
}

#Equipment-create-button , #Equipment-edit-button  {
    border-style: none;
    display: none;
    font-size: 18px;
    background: #1e91d6;
    color: #f7fff6;			
    margin: 10px auto;
    width: 80%;
    border-radius: 10px;
    padding: 15px;
}


#footer {
    display: block;
    margin: auto;
    text-align: center;
}