html, body {
    margin: 0;
    padding: 0;
    background-color: #e5e7eb;
}

.navbar {
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 10px 60px;
    padding: 10px 0px;
    width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}

.navbar li {
    list-style: none;
    display: inline;
    text-align: center;
}
.navbar img {
    margin: 5px;
}
.navbar a {
    padding: 10px 50px;
    font-size: 20px;
    background: #1e91d6;
    border-radius: 10px;
    text-decoration: none;
    color: #e5e7eb;
    margin: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}

.navbar a:hover {
    background-color: #2061d3;
    cursor: pointer;
}

#navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar button {
    display: block;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: none;
    color: #eee;
    font-weight: 700;
    box-shadow: 1px 4px 10px 1px #aaa;
    cursor: pointer;
    background: #207cca;
    background: -moz-linear-gradient(left, #207cca 0%, #9f58a3 100%);
    background: -webkit-linear-gradient(left, #207cca 0%,#9f58a3 100%); 
    background: linear-gradient(to right, #207cca 0%,#9f58a3 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='#9f58a3',GradientType=1 ); 
} 


.dropdown {
    position: relative;
    display: inline-block;
}

.hamburger-menu {
    width: 30px;
    height: 20px;
    margin-right: 7px;
    position: relative;
    display: block;
    cursor: pointer;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu div {
    background-color: #1e91d6;
    margin-right: 10px;
    height: 3px;
    width: 100%;
    position: absolute;
    display: block;
    content: '';
}

.hamburger-menu::before {
    top: 0;
}

.hamburger-menu::after {
    bottom: 0;
}

.hamburger-menu div {
    top: 50%;
    transform: translateY(-50%);
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 100%;
    margin-top: 10px;
    border-radius: 15px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
} 




/* DEFAULT STYLIZING */


.defaultContainer {
    background-color: #fff;
    border-radius: 10px;
    border: #1e91d6 solid 3px;
    padding: 10px;
    width: 70%;
    margin: 40px auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}

.defaultContainer h1 {
    text-align: center;
    color: #2061d3;
    font-size: 42px;
}

.defaultControls a {
	text-align: center;
    display: block;
    font-size: 18px;
    background-color: #1e91d6;
    text-decoration: none;
    color: #e5e7eb;			
    margin: 10px auto;
    border-radius: 10px;
    
    
}

.defaultControls a:hover {
    background-color: #2061d3;
    cursor: pointer;
}

.defaultTable table {
    width: 95%;
    margin: 0 auto;
    background-color: #e5e7eb;
    border-radius: 10px;
    border-collapse: collapse;
    text-align: left;
    table-layout: fixed;
    max-height: 650px;
}

.defaultTable th {
    padding: 14px;
    font-size: 22px;
}

.defaultTable td {
    padding: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 18px;
}

.defaultTable tr:hover td {
    background-color: #1e91d6;
    cursor: pointer;
}

.defaultTable tr.selected td {
    background-color: #1e91d6;
    cursor: pointer;
}

#defaultEditButton {
    display: none;
}

/* DEFAULT FORM STYLIZING */

.formBackButton input {
    display: inline-block;
    color: #e5e7eb;
    border-style: none;
    background-color: #1e91d6;
    width: 350px;
    margin-top: 10px;
    margin-left: 70px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}

.formBackButton input:hover {
    background-color: #2061d3;
    cursor: pointer;
}

.formContainer {
    margin: 3% auto 0 auto;
    width: 50%;
}

.formContainer label, .formContainer h1 {
    color: #2061d3;
    text-align: center;
}


.formContainer h1 {
    display: block;
    margin: 3px auto 20px auto;
    border-bottom: 3px solid #2061d3;
}

.formContainer label {
    margin: 0 auto;
    display: inline-block;
    padding: 8px;
    font-size: 20px;
    width: 150px;
    text-align: left;
    
}

.formContainer input, .formContainer textarea, .formContainer select {
    display: inline;
    border-style: none;
    border-bottom: 1px solid #2061d3;
    margin: 0 auto;
    padding: 8px;
    background-color: #e5e7eb;
    border-radius: 5px;
    font-size: 15px;
}

.formContainer input {
    width: calc(100% - 250px);
}

.formContainer select {
    width: calc(100% - 270px);
}


.formContainer input::placeholder, .formContainer textarea::placeholder {
    color: rgba(100, 100, 100, 0.3);
}

.formContainerControls {
    display: grid;
    margin: 0px;
    padding: 0px;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "formContainerSubmit formContainerClear";
}

.formContainerControls input{
    border-style: none;
    text-align: center;
    display: block;
    font-size: 18px;
    background: #1e91d6;
    color: #e5e7eb;			
    margin: 10px auto;
    width: 90%;
    border-radius: 10px;
    padding: 15px;
}


.formContainerControls input:hover {
    background-color: #2061d3;
    cursor: pointer;
}


.formNewDataElement  {
    display: inline;
}

.formNewDataElement input{
    display: inline;
    margin: 0;
    padding: 5px;
    width: 30px;
    height: 30px;
    border-radius: 40px;
    border-style: none;
}


.formNewDataElement a {
    display: inline;
    padding: 0;
    margin: 0;
    width: 0%;
    border-style: none;
    text-decoration: none;
}

.formNewDataElement input:hover {
    background-color: #2061d3;
    cursor: pointer;
}


#formClear {
    background-color: #e13f29;
    color: #e5e7eb;
}

#formClear:hover {
    background-color: #fa270b;
    cursor: pointer;
}

.formContainer .LongText {
    width: calc(100% - 250px);
    height: 100px;
    text-align: left;
    text-wrap: wrap;
    resize: none;
}


/* City Page */

.cityContainerControls {
    display: grid;
    margin: 0px;
    padding: 0px;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "cityContainerCreate cityContrainerEdit";
}

.cityContainerControls a {
    padding: 10px 50px;
    border-radius: 10px;
    width: 60%;
}


/* Customer - Invetory Page */

.customerInventoryTableSplit table {
    text-align: center;
}

.NewOrderOptions {
    margin: 40px auto;
    width: 75%;
}

.customerInventoryTableSplit {
    display: grid;
    border-radius: 20px;
    padding: 15px;
    grid-template-columns: 1f;
    grid-template-rows: repeat(2, 1fr);

    grid-template-areas: 
    "customerInvetoryTableSplit-Cust"
    "customerEquipmentTableSplit-Inv";
    row-gap: 50px;
    width: 75%;
    margin: 50px auto;
}

.NewOrderOptions a {
    padding: 10px; 
    width: 90%;
    border-radius: 20px;
}


.customerInventoryTableSplit h2 {
    text-align: center;
    color: #2061d3;
    font-size: 36px;
}

.customerInvetoryTableSplit-Cust, .customerEquipmentTableSplit-Inv {
    display: block;
    background-color: #fff;
    border-style: solid;
    border-color: #1e91d6;
    border-radius: 10px;
    padding: 10px;
    margin: 0 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}




.customerInventoryContainerControls,.customerContainerControls {
    display: grid;
    margin: 0px;
    padding: 0px;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
}

.customerContainerControls {
    grid-template-areas: 
    "customerContainerEdit customerContainerCreate";
}

.customerInventoryContainerControls {
    grid-template-areas: 
    "customerInventoryContainerEdit customerInventoryContainerCreate";
}

.customerInvetoryTableSplit-Cust #create-button {
    border-style: none;
    font-size: 18px;
    background: #1e91d6;
    color: #e5e7eb;			
    margin: 10px auto;
    width: 80%;
    border-radius: 10px;
    padding: 15px;
}

.customerInventoryFilter {
    background-color: #1e91d6;
    padding: 10px 20px;
    border-radius: 20px;
    width: 80%;
    margin: 20px auto;
    color: #e5e7eb; 
}

.customerInventoryFilter h3 {
    font-size: 20px;
    display: inline;
}

.customerInventoryFilter label {
    font-size: 20px;
    padding: 10px;
}

.customerInventoryFilter input {
    padding: 7px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}

#Equipment-create-button , #Equipment-edit-button, .customerInvetoryTableSplit-Cust #edit-button {
    border-style: none;
    display: none;
    font-size: 18px;
    background: #1e91d6;
    color: #e5e7eb;			
    margin: 10px auto;
    width: 80%;
    border-radius: 10px;
    padding: 15px;
}

/* Customer - Invetory Page */

.customerInventoryTableSplit table {
    text-align: center;
}

.NewOrderOptions {
    margin: 40px auto;
    width: 75%;
}

.customerInventoryTableSplit {
    display: grid;
    border-radius: 20px;
    padding: 15px;
    grid-template-columns: repeat(1, 1fr);
}

.NewOrderOptions a {
    padding: 10px; 
    width: 90%;
    border-radius: 20px;
}

.customerInventoryTableSplit {
    grid-template-areas: 
    "customerInvetoryTableSplit-Cust"
    "customerEquipmentTableSplit-Inv";
    width: 75%;
    margin: 50px auto;
    row-gap: 50px;
}

.customerInventoryTableSplit h2 {
    text-align: center;
    color: #2061d3;
    font-size: 36px;
}

.customerInvetoryTableSplit-Cust, .customerEquipmentTableSplit-Inv {
    display: block;
    background-color: #fff;
    border-style: solid;
    border-color: #1e91d6;
    border-radius: 10px;
    padding: 10px;
    margin: 0 10px;
}


.customerInventoryContainerControls,.customerContainerControls {
    display: grid;
    margin: 0px;
    padding: 0px;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
}

.customerContainerControls {
    grid-template-areas: 
    "customerContainerEdit customerContainerCreate";
}

.customerInventoryContainerControls {
    grid-template-areas: 
    "customerInventoryContainerEdit customerInventoryContainerCreate";
}

.customerInvetoryTableSplit-Cust #create-button {
    border-style: none;
    font-size: 18px;
    background: #1e91d6;
    color: #e5e7eb;			
    margin: 10px auto;
    width: 80%;
    border-radius: 10px;
    padding: 15px;
}

/* Default Step Page */
.stepPageGrid {
    display: grid;
    grid-template-columns: 500px 1fr;
    grid-template-areas: 
    "stepPageHelp stepPageContent";
}


.stepPageHelp h1 {
    margin-bottom: 0px;
}
.stepPageHelp h2 {
    color: #1e91d6;
    font-size: 32px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

.stepPageHelp h3 {
    color: #2061d3;
    font-size: 28px;
}

.stepPageHelp p {
    font-size: 22px;
    width: 95%;
}


/* Current Repairs */


.repairContainerControls {
    display: grid;
    margin: 0px;
    padding: 0px;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "cityContainerCreate RepairContainerFinish cityContrainerEdit";
}


.repairButtons  a {
    padding: 10px;
    margin: 10px 10px;
}

.reportPartsDivide {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 
    "reportPartsDivide-Report reportPartsDivide-Parts";

}

.reportPartsDivide h3 {
    font-size: 32px;
    color: #1e91d6;
    margin: 5 auto;
    text-align: center;
}

.reportPartsDivide-Report  {
    width: 100%;
}

.reportPartsDivide-Report form {
    width: 80%;
    margin: auto;
}

.repairFormGrid input {
    width: 100%;
}


.repairFormGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "repairFormLabelOne repairFormInputOne"
    "repairFormLabelTwo repairFormInputTwo"
    "repairFormLabelThree repairFormInputThree"
    "repairFormLabelFour repairFormInputFour";
}


.repairFormControls {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "repairFormSubmit repairFormClear";
}
.repairFormControls input {
    display: block;
    width: 95%;
    margin: 10px 10px;
}

.repairFormClear input:hover {
    background-color: #b3b5b9;
    cursor: pointer;
}

.repairFormSubmit input {
    background-color: #1e91d6;
    color: #e5e7eb;
}

.repairFormSubmit input:hover {
    background-color: #2061d3;
    cursor: pointer;
}

.repairFormError h4 {
    display: none;
    color: #e13f29;
    margin: 0 auto;
    font-size: 32px;
    text-align: center;
}

/* login form contiainer */
.form-container {
  border-radius: 10px;
  width: 280px;
  margin: 0 auto;
  background-color: #fcfcfc;
  padding: 20px 50px 40px;
  margin-top: 15px;
  box-shadow: 1px 4px 10px 1px #aaa;
  font-family: sans-serif;
}
.form-container *{
    box-sizing: border-box;
}
.form-container h2 {
    text-align: center;
    margin-bottom: 30px;
}
.form-container input {
    margin-bottom: 15px;
}
.form-container input[type=text],
.form-container input[type=password] {
    display: block;
    height: 32px;
    padding: 6px 16px;
    width: 100%;
    border: none;
    background-color: #f3f3f3;
}
.form-container button[type=submit] {
    display: block;
    margin: 20px auto 0;
    width: 150px;
    height: 40px;
    border-radius: 25px;
    border: none;
    color: #eee;
    font-weight: 700;
    box-shadow: 1px 4px 10px 1px #aaa;
    cursor: pointer;
    background: #207cca; /* Old browsers */
    background: -moz-linear-gradient(left, #207cca 0%, #9f58a3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #207cca 0%,#9f58a3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #207cca 0%,#9f58a3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='#9f58a3',GradientType=1 ); /* IE6-9 */
}



#Equipment-create-button , #Equipment-edit-button, .customerInvetoryTableSplit-Cust #edit-button {
    border-style: none;
    display: none;
    font-size: 18px;
    background: #1e91d6;
    color: #e5e7eb;			
    margin: 10px auto;
    width: 80%;
    border-radius: 10px;
    padding: 15px;
}

#Equipment-create-button:hover , #Equipment-edit-button:hover, .customerInvetoryTableSplit-Cust #edit-button:hover,.customerInvetoryTableSplit-Cust #create-button:hover {
    background-color: #2061d3;
}

#footer {
    display: block;
    margin: auto;
    text-align: center;
}

